* {
    box-sizing: border-box;
}

.page {
    display: grid;
    place-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-fonts);
}

p,
h1,
h2,
h3,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    object-position: center;
}

.vertical-line {
    grid-row: 1 / end;
    width: 0.25px;
    background-color: var(--line-background);
    list-style: none;
}

.vertical-line--position1 {
    grid-column: 4 /4;
    margin-left: 36px;
}

.vertical-line--position2 {
    grid-column-start: 27;
    margin-left: 12px;
}

.vertical-line--position3 {
    grid-column-start: 12;
    margin-left: 12px;
}

.vertical-line--position4 {
    grid-column-start: 16;
}

.vertical-line--position5 {
    grid-column-start: 19;
    margin-left: 36px;
}

.vertical-line--position6 {
    grid-column-start: 8;
    margin-left: 25px;
}

.vertical-line--position7 {
    grid-column-start: 23;
    margin-left: 25px;
}

.decoration-box {
    grid-column: 27 / end;
    grid-row: 15 / 20;
    display: block;
    width: 180px;
    height: 178px;
    margin-top: 18px;
    margin-left: 12px;
    background-color: var(--decoration-background);
}

.decoration-box-omament {
    grid-column: 3 / 6;
    grid-row: 19 / 22;
    display: block;
    width: 100px;
    height: 68px;
    margin-top: 35px;
    margin-left: 20px;
    background-image: url(../image/Dot_Ornament.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.decoration-box-omament--position {
    grid-column: 26 / 29;
    grid-row: 10 / 13;
    margin-top: 45px;
    margin-left: 15px;
}

.logo {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    text-decoration: none;
    border-radius: 50%;
    background-color: var(--global-bacground);

    &:hover {
        cursor: pointer;
    }
}  

.link {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: none;
    }
}

.focus-visible:has(:focus-visible) {
    outline:0.09em;
    outline-style: solid;
    outline-color: invert;
    outline-offset: 0.1em;
    border-radius: 0.3em;
}

.link--border-bottom {
    border-bottom: 0.2rem solid transparent;

    &:hover {
        text-decoration: none;
        border-color: var(--primary-border);
    }
}

/* header */

.header {
    display: flex;
    width: 1440px;
    height: 1395px;
    background-color: var(--secondary-background);
}

.global {
    display: grid;
    grid-template-columns: repeat(auto-fill, 48px);
    grid-template-rows: repeat(auto-fill, 48px);
}

.menu {
    grid-column: 4 / 26;
    grid-row: 1 / 3;
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 22px;
    margin-top: 35px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 638px;
    padding-top: 0px;
    list-style: none;
}

.menu__list-items {
    font-size: var(--s-size-fonts);
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.menu__list-items--margin-left {
    margin-left: 5px;
}

.menu__list-items--margin-right {
    margin-right: 30px;
}

.global__text {
    grid-column: 4 / 9;
    grid-row-start: 5;
    display: block;
    height: 25px;
    margin-top: 40px;
    margin-left: 36px;
    padding-left: 22px;
    font-size: var(--xs-size-fonts);
    line-height: 23px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-left: 1px solid var(--global-border);
}

.global__title {
    grid-column: 4 / 21;
    grid-row: 6 / 14;
    margin-top: 30px;
    margin-left: 35px;
    font-size: var(--xl-size-fonts);
    font-weight: 700;
    line-height: 110px;
    letter-spacing: -1px;
}

.box-cta {
    grid-column: 23 / 28;
    grid-row: 11 / 16;
    display: block;
    position: relative;
    margin-top: 31px;
    margin-left: 25px;
    width: 179px;
    height: 179px;
    background-color: var(--accent-background);

    &::before {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        top: 32px;
        left: 35px;
        background-image: url(../image/Arrow.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:hover {
        & p {
            text-decoration: underline;
            text-underline-offset: 3px;
        }
        cursor: pointer;
    }
}

.box-cta__text {
    position: absolute;
    bottom: 32px;
    left: 32px;
    font-size: var(--l-size-fonts);
    font-weight: 700;
    line-height: 30px;
    color: var(--global-fonts);
}

.box-album {
    grid-column: 16 / 28;
    grid-row: 19 /25;
    display: flex;
    margin-top: 4px;
}

.box-album--twoo {
    grid-column: 12 /16;
    grid-row: 22 / 27;
    position: relative;
    margin-top: 40px;
    margin-left: 12px;
}

.box-album--tree {
    grid-column: 4 / 13;
    grid-row: 15 / 25;
    margin-top: 16px;
    margin-left: 36px;
}

.box-album__trec-box {
    display: flex;
    flex-direction: column;
}

.box-album__image {
    display: block;
    position: relative;
    width: 360px;
    height: 360px;
}

.box-album__image--size {
    width: 180px;
    height: 180px;
}

.box-album__trec-box-audio {
    display: block;
    position: relative;
    width: 360px;
    height: 180px;
    padding: 56px 35px;
    background-color: var(--audio-background);

    &:hover img {
        cursor: pointer;
    }
}

.box-album__trec-box-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: end;
    margin-top: 13px;
}

.box-album__trec-box-container-title {
    font-size: var(--ml-size-fonts);
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.3px;

    &:hover {
        cursor: pointer;   
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}

.block-play {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 48px;
    height: 48px;
    bottom: 0;
    right: 0;
    background-color: var(--play-background);

    &:hover {
        cursor: pointer;
    }
}

.block-play--mode {
    color: var(--global-fonts);
    background-color: var(--global-background);
}

.box-album__trec-box-container-time {
    font-size: var(--xs-size-fonts);
    line-height: 23px;
    letter-spacing: 0.5px;
}

.box-album__trec-box-text {
    vertical-align: end;
    font-size: var(--xs-size-fonts);
    line-height: 23px;
    letter-spacing: 0.5px;
}

.about {
    grid-column: 16 / 22;
    grid-row: 14 / 18;
    display: block;
    width: 310px;
    height: 115px;
    margin-top: 67px;
}

.about__title {
    display: block;
    padding-left: 22px;
    font-size: var(--m-size-fonts);
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.73px;
    border-left: 1px solid var(--global-border);
}

.about__text {
    padding-top: 8px;
    padding-left: 20px;
    font-size: var(--s-size-fonts);
    line-height: 27px;
    letter-spacing: 0.32px;
}

/* main */

.card {
    display: flex;
    width: 1440px;
    height: 2046px;
}

.card__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 48px);
    grid-template-rows: repeat(auto-fill, 48px);
    width: 100%;
    height: 100%;
    color: var(--global-fonts);
    list-style: none;
}

.card__list-title {
    grid-column: 4 / 21;
    grid-row: 3 / 8;
    margin-top: 25px;
    margin-left: 37px;
    font-size: var(--sxl-size-fonts);
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -0.82px;
}

.card__list-items {
    display: block;
    width: 540px;
    height: 542px;
    padding-left: 5px;
}

.card__list-items--size {
    width: 360px;
    height: 614px;
}

.card__list-items--position1 {
    grid-column: 4/ 16;
    grid-row: 10 / 22;
    margin-left: 31px;
}

.card__list-items--position2 {
    grid-column: 19 / 28;
    grid-row: 13 / 26;
    margin-top: 5px;
    margin-left: 31px;
}

.card__list-items--position3 {
    grid-column: 4 / 13;
    grid-row: 25 / 38;
    margin-top: 11px;
    margin-left: 31px;
}

.card__list-items--position4 {
    grid-column-start: 16;
    grid-row-start: 29;
}

.card__list-items-block {
    width: 100%;
    height: 360px;
}

.indicator {
    position: relative;
}

.indecator__block {
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.indecator__block-time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    font-size: var(--xxs-size-fonts);
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.46px;
    background-color: var(--global-background);
    border-radius: 5px;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.indecator__block-star {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    color: var(--primary-fonts);
    font-size: var(--xxs-sizefonts);
    background-color: var(--secondary-background);
    border-radius: 5px;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

    &:hover .indecator__block-star__block {
        opacity: 1;
        transition: .3s;
        z-index: 1;
    }
}

.indecator__block-star__block {
    display: flex;
    opacity: 0;
    position: absolute;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    padding: 3px 8px;
    background-color: var(--secondary-background);
    border-radius: 5px;
    transition: 1s;
    z-index: -1;

    &:hover {
        flex-direction: row-reverse;
        cursor: pointer;
    }
}

.indecator__block-star-block-star {
    width: 18px;

    &:hover {
    color: var(--accent-fonts);
    }

    &:hover ~ .indecator__block-star-block-star {
        color: var(--accent-fonts);
    }
}

.card__list-items-topic {
    margin-top: 20px;
    color: var( --primary-secondary-fonts);
    font-size: var(--xs-size-fonts);
    line-height: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__list-items-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: var(--ll-size-fonts);
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0.3px;
    overflow: hidden;
    hyphens: auto;
}

.card__list-items-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: var(--sml-size-fonts);
    line-height: 32px;
    letter-spacing: 0.5px;
    hyphens: auto;
    overflow: hidden;
}

.discover {
    display: flex;
    width: 1440px;
    height: 1315px;
}

.discover__page {
    display: grid;
    grid-template-columns: repeat(auto-fill, 48px);
    grid-template-rows: repeat(auto-fill, 48px);
    width: 100%;
    height: 100%;
    background-color: var(--discover-bacground);
}

.discover__page-title {
    grid-column: 4 / 17;
    grid-row: 4 / 8;
    margin-top: 2px;
    margin-left: 36px;
    color: var(--global-fonts);
    font-size: var(--sxl-size-fonts);
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -0.82px;
    list-style: none;
}

.discover__page-list {
    grid-column: 4 / 28;
    grid-row-start: 10;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 18px;
    counter-reset: num;
}

.discover__page-list-items {
    display: block;
    position: relative;
    margin-left: 36px;
    width: 1080px;
    color: var(--global-fonts);
    border-bottom: 1px solid var(--secondary-background);

    &::before {
        content: '0' counter(num); 
	    counter-increment: num;
        position: absolute;
        top: 29px;
        left: 0;
        color: var(--secondary-fonts);
        font-size: var(--lm-size-fonts);
        font-weight: 500;
        line-height: 35px;
    }    
    &:nth-child(n + 10)::before {
        content: counter(num); 
    }
} 

.discover__page-list-items-title {
    margin-left: 180px;
    width: fit-content;
    font-size: var(--ssxl-size-fonts);
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0.83px;
}

.discover__page-list-items-text {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 180px;
    font-size: var(--s-size-fonts);
    line-height: 23px;
    letter-spacing: 0.5px;
}

.discover__page-list-items-image {
    display: block;
    position: absolute;
    top: 37.92px;
    right: 0;
    width: 25px;
    height: 25px;
    background-image: url(../image/Group_4.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}